# macOS
.DS_Store

# Env / secrets
.env
.env.*

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.code-workspace
.history/

# Dependencies / build artifacts
node_modules/
dist/
.cache/

# Local Netlify folder
.netlify
